<%- include('./partials/header') %>

<div>
  <ul>
    <% spellData.results.forEach(function(r){ %>
    <li><a href="/<%= r.index %>"><%= r.name %></a></li>
    <% }); %>
  </ul>
</div>

<%- include('./partials/footer') %>
